{% extends '_templates/base.njk' %}

{% block page_title %}Queen{% endblock %}

{% block page_description %}This website will guide you through everything related to Queen.{% endblock %}

{% block content %}
<div class="container">
  <h1>Who was Queen?</h1>
  <p>Queen are a British rock band formed in London in 1970 by Freddie Mercury (lead vocals, piano), Brian May (guitar, vocals), and Roger Taylor (drums, vocals), later joined by John Deacon (bass). Their earliest works were influenced by progressive rock, hard rock, and heavy metal, but the band gradually ventured into more conventional and radio-friendly works by incorporating further styles, such as arena rock and pop rock.</p><p>- Source: <a href="https://en.wikipedia.org/wiki/Queen_(band)" target="_blank">Wikipedia</a></p>
  <h1 class="member">Members</h1>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
      {% for member in queen.members %}
      <div class="col">
        <div class="card h-100 text-bg-light mb-3">
          <div class="card-body">
            <img src="img/{{ member.imagebw }}" class="card-img-top">
            <h5 class="card-title">{{ member.name }}</h5>
            <h5 class="card-instrument">{{ member.instruments }}</h5>
          </div>
        <div class="card-footer">
          <a href="member/{{ member.slug }}.html" class="card-link">More about {{ member.name }}</a>
        </div>
      </div>
    </div>
      {% endfor %}
    </div>
  <h1 class="albums">Albums</h1>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
      {% for album in queen.discography %}
      <div class="col">
        <div class="card h-100 text-bg-light mb-3">
          <div class="card-body">
            <img src="img/{{ album.image }}" class="card-img-top">
            <h5 class="card-title">{{ album.title }}</h5>
            <h5 class="card-year">{{ album.year }}</h5>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
</div>
{% endblock %}