{% extends '_templates/base.njk' %}

{% block page_title %}Queen{% endblock %}

{% block page_description %}This website will guide you through everything related to Queen.{% endblock %}

{% block content %}
<div class="container">
  <h1>Who was Queen?</h1>
  <p>This will be a bunch of intro info on Queen.</p>
  <div class="container">
    <h1>Members</h1>
    <p>There were 4 members of Queen.</p>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
      {% for member in queen.members %}
      <div class="col">
        <div class="card h-100 text-bg-light mb-3">
          <div class="card-body">
            <img src="img/{{ member.imagebw }}" class="card-img-top">
            <h5 class="card-title">{{ member.name }}</h5>
            <h5 class="card-instrument">{{ member.instruments }}</h5>
          </div>
          <div class="card-footer">
            <a href="member/{{ member.slug }}.html" class="card-link">More about {{ member.name }}</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}