$primary-color: #720000;

#jumbo {
  background: url(../img/queen-with-logo.jpg) no-repeat center;
  background-size: cover;
  color: white;
  padding-top: 12rem;
}

#jumbo {
  margin-bottom: 30px;
  min-height: 500px;
}

a:link {
  color: $primary-color;
}

a:visited {
  color: $primary-color;
}

a:hover {
  color: $primary-color;
}

a:active {
  color: $primary-color;
}
