$primary-color: #720000;

// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

/* bootstrap */
// Option A: Include all of Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins";

// Import partials
@import 'nav';
@import "jumbotron";

h3 {
  font-size: 1.5rem;
}

.bellefair-regular {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Bellefair";
  font-weight: bold;
  color: $primary-color;
}

p {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.member {
  padding-top: 2px;
}

.albums {
  padding-top: 35px;
}

.card-title{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 5px;
  padding-bottom: 2px;
  color: $primary-color;
}

.card-instrument, .card-year {
  font-family: "Bellefair";
}

body {
  background-color: white;
}

footer {
  padding-top: 10px;
}